ENVIRONMENT = "development"

DB_HOST = "localhost"
DB_PORT = 5432
DB_NAME = "db_name_here"
DB_USER = "db_user_here"
DB_PASSWORD = "db_password_here"

REDIS_URL = "redis://localhost:6379/0"
REDIS_CACHE_TTL=3600 #1 hour

SECRET_KEY = "your-secret-key-here"
ACCESS_TOKEN_EXPIRE = 900 

DEBUG = False

SESSION_EXPIRE_DAYS = 7 #days

SMTP_HOST = "smtp.gmail.com"
SMTP_PORT = 587
SMTP_USER = "your-smtp-user@gmail.com"
SMTP_PASSWORD = "your-smtp-app-password"
EMAILS_FROM_EMAIL = "no-reply@example.com"
EMAILS_FROM_NAME = "Open Sesame"